* {
    box-sizing: border-box
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    padding: 40px;
    text-align: center;
    color: #fff
}

.hero h1 {
    font-size: 56px;
    margin: 10px 0;
    color: #38bdf8
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: white;
}

.hero p {
    max-width: 650px;
    line-height: 1.7;
    color: #cbd5e1;
    margin: auto
}

.hero-buttons {
    margin-top: 30px
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #38bdf8;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    margin: 8px;
    font-weight: 600
}

.outline {
    background: transparent;
    border: 2px solid #38bdf8
}

.btn:hover {
    transform: translateY(-3px)
}
.image{
    height: 50vb;
    border-radius: 30px;
    /* display: flex; */
    /* gap: 100px; */
}
